@inject Svasta sv

<b>Komponenta</b>
<div>@sv.t.Ime -- @sv.t.Prezime</div>
<button @onclick="Salji">Salji :)</button>

@code 
{
	protected override void OnInitialized()
	{
		sv.onPromena += DogodilaSePromena;
	}

	public void Salji()
	{
		sv.t.Ime = "Neko";
		sv.t.Prezime = "Nekic";
		sv.Promena();
	}

	public void DogodilaSePromena()
	{
		StateHasChanged();
	}
}
