@page "/"
@inject Svasta sv
<div>
Dete se javilo:
<b>@sv.t.Ime -- @sv.t.Prezime</b>	
</div>

<Component/>


@code
{

	public List<Test> tLst = new List<Test>();

	protected override void OnInitialized()
	{
		tLst.Add(new Test { Ime = "Pera", Prezime = "Peric" });
		tLst.Add(new Test { Ime = "Neko", Prezime = "Nekovic" });
		tLst.Add(new Test { Ime = "Trecko", Prezime = "Treckovic" });
		tLst.Add(new Test { Ime = "Asd", Prezime = "Qwe" });
		sv.onPromena += DogodilaSePromena;
		sv.t = new Test { Ime = "Pera", Prezime = "Peric" };
	}

	public void DogodilaSePromena()
	{
		StateHasChanged();
	}
}